.Icon {
    float: right;
}
.Total {
    color: white;
}
.Total:hover {
    color: #2ecc71;
}
.Link {
    text-decoration: none !important;
}

.number {
    margin-left: 25px;
}
.home2 {
    margin-top: 50px;
    margin-left: 70px;
}
